header {
    background-color: rgb(56, 56, 56);
    text-align: left;
}

.jumbotron img {
    align-items:center ;
}

section {
    border-radius: 5px;
    margin: 1%;
    padding: 10px;
}
footer {
    text-align: center;
    padding: 1%;
}

.footer a {
    color: purple;
}